.tasks-container {
  display: flex;
  height: 60vh;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, .12);
}

.pagingStyles {
  display: flex; 
  width: 100%; 
  justify-content: flex-end;
}

span {
  padding: 10px;
  height: 50px;
}

select {
  width: 100px; 
  height: 21px;
}

button {
  width: 100px; 
}

.mat-header-cell {
  width: 90px;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.mat-cell {
  font-size: 12px;
}




